body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    overflow:scroll;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-weight: 500;
    opacity: 98%;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    position: relative;
    padding: 0 8%;
}
nav a:hover {
    color:#908f8f;
    text-decoration: none;
}

.nav-bar a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

header {
    background-color: #003366;
    color: white;
    padding: 50px 0 0;
    width: 100%;
    min-height: 240px;
    box-sizing: border-box;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
    font-size: 0.85em;
    margin: 0;
}

.header-center {
    text-align: center;
    padding: 37.5px 0;
}

.header-right a, .header-right p {
    text-align: right;
}

header p, header a {
    color: white;
}

header a:hover {
    text-decoration: underline;
}

header p {
    margin: 5px 0;
    font-size: 1em;
}

.header-content p {
    margin: 5px 0;
}

.header-content a {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-family: "Poppins", sans-serif; 
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    margin: 0;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    margin: 0;
    margin-top: 5px;
}

a {
    color: #72a6da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

.cv-container {
    width: 80%;
    margin: 0px auto;
    background: #fff;
    padding: 10px;
    font-size: 14px;
}

section {
    margin: 40px 0;
}

h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 20px;
    color: #72a6da;
    border-bottom: 2px solid #72a6da;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 10%;
    flex-wrap: wrap;
}

.welcome-text {
    flex: 3;
    padding-right: 20px;
    text-align: left;
    min-width: 200px;
}

.footnote {
    font-style: italic;
}

.vertical-line {
    flex: 0 0 2px;
    height: 150px;
    background-color: #72a6da;
    margin: 0 20px;
}

.headshot {
    flex: 1;
    text-align: left;
}

.headshot img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.skills-section .column {
    flex: 1;
    padding: 0 20px;
}


.skills-section ul {
    columns: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.skills-section ul.single-column {
    columns: 1;
}

.skills-section li {
    margin: 5px 0;
    position: relative;
    padding-left: 0;
    text-align: center;
}

.skills-section li::before {
    content: "";
}

.experience h4 {
    color: #908f8f;
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.date {
    float: right;
}

.bold::after {
    content: "";
    display: table;
    clear: both;
}

.bold {
    font-style: italic;
    margin: 5px 0;
    color: #000;
    font-weight: bold;
}

ul {
    margin: 10px 0;
    padding: 0 20px;
}

ul li {
    margin: 5px 0;
    list-style: none;
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    text-align: justify;
}

ul li::before {
    content: "–";
    position: absolute;
    left: 0;
    color: #6699cc;
}


.summary, .skills, .experience, .education, .projects, .interests {
    margin-bottom: 40px;
}

.project {
    text-align: justify;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ffffff; 
    padding: 5px; 
} 

.project-description {
    margin-bottom: 20px;
}

.hosted-on {
    display: flex;
    align-items: top;
    justify-content:center;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    text-align: center;
}

.hosted-on p {
    margin: 0;
    margin-right: 0;
    margin-top: 25px;
}

.hosted-on img {
    width: 100px;
    opacity: 0.3;
}

.index-header {
    background: url('data-background.png') no-repeat center center/cover;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
